.header {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px 0 20px;
    }
}

.header_box {
    display: flex;
    gap: 5px;
}
.header_logo {
    cursor: pointer;
}
.header_btn {
    border-radius: 30px;
    border: 1px solid #212121;
    background: #FFF;
    padding: 12px 0;
    color: #212121;    
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
    width: 165px;
    transition: all .4s;
    cursor: pointer;
    text-decoration: none;
    &:hover {
        background: #FF65C7;
        color: #fff;
    }
}
.header_btn_consultation {
    border-radius: 30px;
    border: 1px solid #212121;
    background: #FF65C7;
    color: #fff;
    padding: 12px 0;
    transition: all .4s;
    &:hover {
        background: #fff;
        color: #212121; 
    }
}